<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
    </head> 

    <body>
        <header class="header">
            <div class="container logo-nav-container">
                <a href="#" class="logo">DUCTOS ORTIZ</a>
                <nav class="navigation">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">¿Quiénes somos?</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="seguimiento">Pedidos</a></li>
                        <li><a href="#">Contactanos</a></li>
                        <li><a href="login">Iniciar Sesión</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="main">
            
        </main>

        <div id="titleCard" class="card">
            <div class="upper">
                <div class="row">
                    <div class="col-8 heading">
                        <h5><b>Seguimiento de orden</b></h5>
                    </div>
                    <div class="col-4"> <img class="img-fluid" src="https://i.imgur.com/Rzjor3M.png"> </div>
                </div>
                <form>
                    <div class="form-element"> 
                        <span id="input-header">Ingrese el número del pedido</span> 
                        <input type="text" id="order_id" placeholder="2548745588958">         
                    </div>
                </form>
            </div>
            <hr>
            <div class="lower"> <button class="btn">Buscar</button> </div>
        </div>

        

        <footer class="text-center text-white fixed-bottom">
            <div class="container p-4"></div>
            <div class="text-center">
                <label>Ingeniería Civil en Informática</label>
                <br>
                <label>Universidad del Bío-Bío - Todos los derechos reservados © 2021</label>
            </div>
        </footer>
    </body>
</html>