<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
    </head> 

    <body>
        <header class="header">
            <div class="container logo-nav-container">
                <a href="#" class="logo">DUCTOS ORTIZ</a>
                <nav class="navigation">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">¿Quiénes somos?</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="seguimiento">Pedidos</a></li>
                        <li><a href="#">Contactanos</a></li>
                        <li><a href="login">Iniciar Sesión</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="main">

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
           
        </main>

        

        <footer class="text-center text-white fixed-bottom">
            <div class="container p-4"></div>
            <div class="text-center">
                <label>Ingeniería Civil en Informática</label>
                <br>
                <label>Universidad del Bío-Bío - Todos los derechos reservados © 2021</label>
            </div>
        </footer>
    </body>
</html>



