<div class="modal" data-target="#modal" [ngStyle]="{'display': productosService.ocultoDetail}" tabindex="-1"
    role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!--Modal Header-->
            <form [formGroup]='formProducto' novalidate>
                <div class="modal-header">
                    <h3 class="modal-title">Crear Producto</h3>
                    <button (click)="ocultarModalEdit()" type="button" class="close"
                        data-dismiss="modal">&times;</button>
                </div>

                <!--Modal Body-->
                <div class="modal-body">
                    <div class="card" id="tarjeta">
                        <!--Nombre-->
                        <div class="form-group row">
                            <label class="col-4 col-form-label">
                                <h6>Nombre</h6>
                            </label>
                            <div class="col-8">
                                <input class="form-control" formControlName="nombreProducto" type="text"
                                    readonly="readonly">
                            </div>
                        </div>

                        <!--Precio-->
                        <div class="form-group row">
                            <label class="col-4 col-form-label">
                                <h6>Precio</h6>
                            </label>
                            <div class="col-8">
                                <input class="form-control" formControlName="precio" type="text" readonly="readonly">
                            </div>
                        </div>

                        <!--Stock-->
                        <div class="form-group row">
                            <label class="col-4 col-form-label">
                                <h6>Cantidad</h6>
                            </label>
                            <div class="col-8">
                                <input class="form-control" formControlName="cantidad" type="text" readonly="readonly">
                            </div>
                        </div>

                        <!--Descripcion-->
                        <div class="form-group row">
                            <label class="col-4 col-form-label">
                                <h6>Descripción</h6>
                            </label>
                            <div class="col-8">
                                <!--<input class="form-control" formControlName="descripcion" type="text">-->
                                <textarea class="form-control" formControlName="descripcion" type="text"
                                    readonly="readonly" rows="3"></textarea>
                            </div>
                        </div>

                        <!--Adjuntar Imagen-->
                        <div class="form-group">
                            <label for="exampleFormControlFile1" class="col-4 col-form-label">Imagen</label>
                            <div class="col-8">
                            </div>
                            <a *ngIf="previsualizacion" href="{{previsualizacion}}">
                                <img class="center"
                                    [src]="_DomSanitizationService.bypassSecurityTrustUrl(previsualizacion)"
                                    width="300px">
                            </a>
                        </div>
                    </div>

                </div>
                <br>
                <!--Modal footer-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button (click)="ocultarModalEdit()" type="button" style="background-color: red; color: white;"
                        class="btn btn-danexampleModalger">Cerrar</button>

                </div>
            </form>
        </div>
    </div>
</div>