<div class="modal" data-target="#modal" [ngStyle]="{'display': productosService.ocultoAgregarInsumo}" tabindex="-1"
    role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!--Empieza el formulario addPedidoService.oculto
            <form [formGroup]='formInsumos' (ngSubmit)="saveData()" novalidate>-->
            <!--Modal Header-->


            <div class="modal-header">
                <h3 class="modal-title">Agregar Insumos</h3>
                <!--<button (click)="ocultarModal()" type="button" class="close" data-dismiss="modal">&times;</button>-->
            </div>

            <!--Modal Body-->
            <div class="modal-body">
                <div class="card-body">
                    <form [formGroup]='formInsumos'>
                        <div class="row">
                            <div class="col-md-2">Filtrar por:</div>
                            <div class="col-md-4"><input type="text"></div>
                        </div>
                        <br>
                        <div class="card-deck">
                            <div *ngIf="insumosCargados">
                                <div *ngFor="let item of insumosDisponibles; let i = index">
                                    <div id="accordion">
                                        <div class="card">
                                            <div class="card-header" id="heading">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" data-bs-toggle="collapse"
                                                        attr.data-bs-target="#collapse{{i}}" aria-expanded="false"
                                                        attr.aria-controls="collapse{{i}}">

                                                        <label class="checkbox-inline" (change)="toggle($event)">
                                                            <input type="checkbox" [attr.id]="'checkboxEnLinea'+i"
                                                                [attr.value]=item.insumoId
                                                                [attr.aria-controls]="'checkboxEnLinea'+i">
                                                            {{item.insumoNombre}}
                                                        </label>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse{{i}}" class="accordion-collapse collapse "
                                                attr.aria-labelledby="heading" data-parent="#accordion">
                                                <div class="card-body">
                                                    <label>
                                                        <b>Cantidad: </b>
                                                        <input type="number" #cantidad (change)="capturar($event, cantidad.value)"
                                                            [attr.value]="cantidad.value">

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>










                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>