<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper" style="width: 14%;">

        <div class="sidebar-heading" id="logo">
            <a href="home-sistema"> <img src="../assets/logo.jpg" width="100"></a>
        </div>
        <div class="list-group list-group-flush" id="menuLista">
            <a class="list-group-item list-group-item-action bg-light" href="pedidos"><b>Pedidos</b></a>
            <a class="list-group-item list-group-item-action bg-light" href="productos">Productos</a>
            <a class="list-group-item list-group-item-action bg-light" href="home-sistema">Insumos</a>
            <a class="list-group-item list-group-item-action bg-light" href="home-sistema">Contactos</a>
            <a class="list-group-item list-group-item-action bg-light" href="calendario">Calendario</a>
            <a class="list-group-item list-group-item-action bg-light" href="home-sistema">Informes</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-dark bg-dark " id="navbar">
            <h1 id="titulo">Sistema de Gestión DuctOS</h1>
            <button type="button" class="btn btn-outline-light" id="sesion" (click)="cerrarSesion()">Cerrar
                sesión</button>
        </nav>

        <section class="content">
            <!--Aqui van las migas de pan, pero creo que no las necesitaremos-->
            <br>
            <h3 id="subtitulo"> Home - Sistema de Gestión</h3>

        </section>
    </div>
</div>