
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
  
        <div class="sidebar-heading" id="logo">
            <a href="#" > <img src="../assets/DuctOs.jpeg" width="65"></a>
        </div>
        <div class="list-group list-group-flush" id="menuLista">
            <a class="list-group-item list-group-item-action bg-light" href="#">Pedidos</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">Productos</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">Insumos</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">Contactos</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">Calendario</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">Informes</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
  
      <nav class="navbar navbar-dark bg-dark " id="navbar">
        <h1 id="titulo">Sistema de Gestión DuctOS</h1>
        <button type="button" class="btn btn-outline-light" id="sesion">Cerrar sesión</button>
      </nav>
  
        <section class="content">
          <!--Aqui van las migas de pan, pero creo que no las necesitaremos-->
  
            <h3 id="subtitulo"> Gestión de Pedidos </h3>
  
  
            <div class="card">
  
                <table class="table" id="myTable">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha de ingreso</th>
                        <th scope="col">Fecha de entrega</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Teléfono de contacto</th>
                        <th><button class="btn btn-success"  type="button" (click)="abrirModal()">Añadir</button></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td contenteditable="true">22-06-2021</td>
                        <td contenteditable="true">22-07-2021</td>
                        <td contenteditable="true">Pendiente</td>
                        <td contenteditable="true">9 98674522</td>
                        <td>
                          <div class="btn-toolbar">
                            <button type="button" class="btn btn-primary" id="botones">Detalle</button>
                            <button class="btn btn-warning" type="button" id="botones" >Editar</button>
                            <button class="btn btn-danger" type="button" id="botones">Eliminar</button>
                        
                          </div>
                        </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td contenteditable="true">23-06-2021</td>
                      <td contenteditable="true">24-07-2021</td>
                      <td contenteditable="true">Terminado</td>
                      <td contenteditable="true">9 92678523</td>
                      <td>
                        <div class="btn-toolbar">
                          <button type="button" class="btn btn-primary" id="botones">Detalle</button>
                          <button class="btn btn-warning" type="button" id="botones" >Editar</button>
                          <button class="btn btn-danger" type="button" id="botones">Eliminar</button>
                      
                        </div>
                      </td>
                  </tr>
                    
                    </tbody>
                </table>
            </div>
            <br> 
        </section>   
    </div>
  </div>
<app-add-pedido></app-add-pedido>