<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
    </head> 

    <body>
        <header class="header">
            <div class="container logo-nav-container">
                <a href="#" class="logo">DUCTOS ORTIZ</a>
                <nav class="navigation">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">¿Quiénes somos?</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="seguimiento">Pedidos</a></li>
                        <li><a href="#">Contactanos</a></li>
                        <li><a href="login">Iniciar Sesión</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="main">

            <div class="container" style="width: 50%">
                <div class="row">
                    <div class="col col-12">
    
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../assets/ductos1.jpg" class="d-block w-100" alt="Imagen ductos 1">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/ductos2.jpg" class="d-block w-100" alt="Imagen ductos 2">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/ductos3.jpg" class="d-block w-100" alt="Imagen ductos 3">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
        </div>
      </div>

        </main>

        

        <footer class="text-center text-white fixed-bottom">
            <div class="container p-4"></div>
            <div class="text-center">
                <label>Ingeniería Civil en Informática</label>
                <br>
                <label>Universidad del Bío-Bío - Todos los derechos reservados © 2021</label>
            </div>
        </footer>
    </body>
</html>



