<!doctype html>
<html lang="en">

<head></head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark logo-nav-container">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ductos Ortiz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="btn text-white" aria-current="page" (click)="changePage('off'); changeStateContent('inicio')">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="btn text-white" aria-current="page" (click)="changePage('off'); changeStateContent('about')">¿Quiénes somos?</a>
          </li>
          <li class="nav-item">
            <a class="btn text-white" aria-current="page" (click)="changePage('pagination'); changeStateContent('producto')">Productos</a>
          </li>
          <li class="nav-item">
            <a class="btn text-white" aria-current="page" href="seguimiento"
              (click)="changeStateContent('pedidos')">Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="btn text-white" aria-current="page" (click)="changePage('off'); changeStateContent('contactanos')">Contactanos</a>
          </li>
          <li class="nav-item">
            <a class="btn text-white" aria-current="page" href="login">Iniciar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="main">

    <div class="card">

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/ductos1.jpg" class="d-block w-100" alt="Imagen ductos 1"
              style="height: 500px; image-rendering: pixelated;">
          </div>
          <div class="carousel-item">
            <img src="../assets/ductos2.jpg" class="d-block w-100" alt="Imagen ductos 2"
              style="height: 500px; image-rendering: pixelated;">
          </div>
          <div class="carousel-item">
            <img src="../assets/ductos3.jpg" class="d-block w-100" alt="Imagen ductos 3"
              style="height: 500px; image-rendering: pixelated;">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </main>

  <!-- CONTENEDORES DE INFORMACION PARA LA PANTALLA PRINCIPAL -->
  <div class="pageContent" style="text-align: center;">

    <!-- CONTENEDOR CON LA INFORMACION DE LA PANTALLA DE INICIO -->
    <div class="inicio" *ngIf="showInfo.infoInicio">
      <div class="row" style="align-items: center;">
        <div class="col-sm">
          <img src="../assets/quienes_somos.png" alt="sobre_nosotros" width="200">
        </div>
        <div class="col-sm">
          <img src="../assets/producto.png" alt="productos" width="250">
        </div>
        <div class="col-sm">
          <img src="../assets/checkbox.png" alt="check" width="200">
        </div>
      </div>

      <div class="row" style="align-items: center;">
        <div class="col-sm">
          <span style="font-size: 1.5em;"><strong>¿Quienes Somos?</strong></span>
        </div>
        <div class="col-sm">
          <span style="font-size: 1.5em;"><strong>Productos</strong></span>
        </div>
        <div class="col-sm">
          <span style="font-size: 1.5em;"><strong>Ver Estado</strong></span>
        </div>
      </div>

      <div class="row" style="align-items: center; text-align: justify;">
        <div class="col-sm">
          <span>
            <br>
            Somos una empresa ubicada en la ciudad de Chillán
            con mas de 10 años de expreriencia en el rubro.
          </span>
        </div>
        <div class="col-sm">
          <span>
            <br>
            Los productos que fabricamos son ductos de aire acondicionado,
            codos, canales entre una gran variedad de productos de calidad.
          </span>
        </div>
        <div class="col-sm">
          <span>
            <br>
            ¿Quiéres saber como va tu pedido?
            Ingresa a la sección <strong>Pedidos</strong> y podras revisar
            el estado de estado de éste.
          </span>
        </div>
      </div>
      <br><br><br>
    </div>

    <!-- CONTENEDORES DE INFORMACION SOBRE LA EMPRESA -->
    <div class="sobre_nosotros" *ngIf="showInfo.infoAbout">

      <div class="card bg-dark text-white">
        <img class="card-img" src="../assets/bkgCard.png" width="500" height="250"
          style="image-rendering: optimizeQuality;" alt="Card image">
        <div class="card-img-overlay box">
          <h1 class="card-title text">¿Quiénes Somos?</h1>
        </div>
        <div class="card-img-overlay box2">
          <h1 class="card-title text2">
            Ductos Ortiz, es una empresa familiar con más de 10
            años de historia, ofreciendo a la comunidad Productos
            con de la mejor calidad.
          </h1>
        </div>
      </div>
      <hr>
      <div class="card" id="cardInfo">
        <div class="container-info">
          <nav>
            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">Nuestra Historia</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">¿Por qué elegirnos?</button>
              <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Comunícate con
                nosotros</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <br>
              Ductos Ortiz es una empresa que nace en el año 2011 con la idea de brindar productos de calidad,
              acompañado de un servicio cercano
              y con la mejor atención a sus clientes.
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <br>
              La respuesta es simple... Porque nuestros clientes son lo más importante. Nos preocuparemos de que sus
              proyectos se hagan realidad
              con una atención superior y productos de la más alta calidad.
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              <br>
              ducOS@gmail.com<br>
              Instagram: Ductos_Ortiz
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

    <!-- CONTENEDORES DE INFORMACION SOBRE LOS PRODUCTOS -->
    <div class="productos">

      <div class="pageOne" *ngIf="changeInfoPage.pageOne">
        <div class="row">
          <div class="col-sm">
            <img src="../assets/prod_01.jpeg" alt="Producto 1" width="300">
          </div>
          <div class="col-sm">
            <img src="../assets/prod_02.jpeg" alt="Producto 2" width="300">
          </div>
          <div class="col-sm">
            <img src="../assets/prod_03.jpeg" alt="Producto 3" width="300">
          </div>
        </div>

        <div class="informacionItems">
          <div class="row">
            <div class="col-sm">
              <span>
                <strong>Tubos de alta temperatura</strong>
              </span>
            </div>
            <div class="col-sm">
              <span>
                <strong>Ducto para exteriores</strong>
              </span>
            </div>
            <div class="col-sm">
              <span>
                <strong>Ductos para ventilación termodinámica</strong>
              </span>
            </div>
          </div>
        </div>

        <div class="descripcionProducto">
          <div class="row">
            <div class="col-sm">
              <span>
                Estructura fabircada en acero de 0.5mm de espesor.
                Ducto ideal para interior por su construcción robusta
                y alta tolerancia temperaturas sobre los 100° C.
              </span>
            </div>
            <div class="col-sm">
              <span>
                Ducto interior de acero corrugado con laminas flexibles
                que evitan el colapso en caso de sismos y/o catastrofes.
              </span>
            </div>
            <div class="col-sm">
              Estructura lider en ventas por su gran flexibilidad de uso,
              los cuales pueden ser para areas frias o de altas temperaturas,
              dada la construcción de doble espesor.
            </div>
          </div>
        </div>
      </div>

      <div class="pageTwo" *ngIf="changeInfoPage.pageTwo">
        <div class="row">
          <div class="col-sm">
            <img src="../assets/prod_04.jpeg" alt="Producto 4" width="300">
          </div>
          <div class="col-sm">
            <img src="../assets/prod_05.jpeg" alt="Producto 5" width="300">
          </div>
          <div class="col-sm">
            <img src="../assets/prod_06.jpeg" alt="Producto 6" width="300">
          </div>
        </div>

        <div class="informacionItems">
          <div class="row">
            <div class="col-sm">
              <span>
                <strong>Producto 4</strong>
              </span>
            </div>
            <div class="col-sm">
              <span>
                <strong>Producto 5</strong>
              </span>
            </div>
            <div class="col-sm">
              <span>
                <strong>Producto 6</strong>
              </span>
            </div>
          </div>
        </div>

        <div class="descripcionProducto">
          <div class="row">
            <div class="col-sm">
              <span>
                It is a long established fact that a reader will be distracted by the readable 
                content of a page when looking at its layout. The point of using Lorem 
                Ipsum is that it has a more-or-less normal distribution of letters.
              </span>
            </div>
            <div class="col-sm">
              <span>
                It is a long established fact that a reader will be distracted by the readable 
                content of a page when looking at its layout. The point of using Lorem 
                Ipsum is that it has a more-or-less normal distribution of letters.
              </span>
            </div>
            <div class="col-sm">
                It is a long established fact that a reader will be distracted by the readable 
                content of a page when looking at its layout. The point of using Lorem 
                Ipsum is that it has a more-or-less normal distribution of letters.
            </div>
          </div>
        </div>
      </div>

      <div class="pageThree" *ngIf="changeInfoPage.pageThree">
        <section class="page_404">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                  <div class="four_zero_four_bg">
                    <h1 class="text-center ">404</h1>
                  </div>
                  <div class="contant_box_404">
                    <h3 class="h2">
                      Qué lastima, el contenido se ha acabado...
                    </h3>
                    <p>Proximante podras difrutar de nuevos productos!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <br>
      <nav aria-label="Page navigation example" *ngIf="changeInfoPage.pagination">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" (click)="changePage('pageOne')">1</a></li>
          <li class="page-item"><a class="page-link" (click)="changePage('pageTwo')">2</a></li>
          <li class="page-item"><a class="page-link" (click)="changePage('pageThree')">3</a></li>
          <li class="page-item"><a class="page-link">..</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
      <br>
    </div>

    <!-- CONTENEDORES DE INFORMACION PARA CONTACTO CON LA EMPRESA -->
    <div class="contactanos" *ngIf="showInfo.infoContactanos">
      <span>SOY EL CONTENIDO DE CONTACTANOS</span>
    </div>

  </div>

  <footer class="footer py-0 bg-dark fixed-bottom text-center">
    <div class="container">
      <span class="text-white">Ingeniería Civil en Informática</span>
      <br>
      <span class="text-white">Universidad del Bío-Bío - Todos los derechos reservados © 2021</span>
    </div>
  </footer>

</body>

</html>