@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);

@media(max-width:768px) {
    .card {
        width: 90%
    }
}

.footer {
    padding: 0 8%;
    font-size: x-small;
    color: black
}

/* CARRUSEL DE IMAGENES */

.cardCarrusel {
    margin: 0 auto; 
    height: auto;
    width: auto;
    /* Added /
    float: none; / Added /
    margin-bottom: 10px; / Added */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    color: black;
}
